{% extends 'base.html' %}

{% block title %}Punto Fijo{% endblock %}

{% block content %}
<h1>Iteración Simple de Punto Fijo</h1>
{{ message }}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam soluta possimus aliquid nemo sint reiciendis exercitationem beatae corporis sit, repellat quaerat ab eos amet modi, perferendis alias nobis sed sequi. Amet incidunt corporis possimus expedita sed at ab, neque eos ullam earum culpa! Nam odio ea voluptates enim accusamus incidunt pariatur nobis qui, est voluptate aut, distinctio ipsam amet porro totam libero voluptatibus autem beatae doloremque vel fuga asperiores. Et vel maxime pariatur aut, dolores provident eum ipsam error quisquam fugiat? Dolorem provident delectus libero, illum cupiditate iure reiciendis laudantium veniam illo sapiente numquam quam possimus, eaque minima natus culpa!</p>
{% endblock %}