{% extends 'calcular.html' %}
{% load static %}
{% block title %}Punto Fijo{% endblock %}

{% block calcular %}
<h1 class="btn-calcu text-center">Iteración Simple de Punto Fijo</h1>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<section  class="">
    <!-- FORM PARA INGRESAR FORMULA -->
    <h6 class="btn-calcu">Ingresa los datos:</h6>
    <form action="{% url 'punto_fijo' %}" class="punto_fijo text-start ps-3 pe-3 pb-1 pt-1 " method="POST">
        {% csrf_token %}

        <div for="fx" class="fw-bold pb-1">
            <label>Función f(x):</label>
            <input class="border border-info-subtle" type="text" name="fx" id="fx" required>
        </div>
        
        <div for="gx" class="fw-bold pb-1">
            Función g(x):
            <input class="border border-info-subtle" type="text" name="gx" id="gx" required>
        </div>
        
        <label for="verify_convergence" class="fw-bold text-center pb-1">
            Verificar convergencia:
            <input class="border border-info-subtle" type="checkbox" name="verify_convergence" id="verify_convergence">
        </label>
    
        <label for="x0" class="fw-bold text-center pb-1">
            Valor Inicial de X:
            <input class="border border-info-subtle" type="number" name="x0" id="x0" step="any" required>
        </label>
        
        <label for="error" class="fw-bold text-center pb-1">
            Error (%):
            <input class="border border-info-subtle" type="number" name="error" id="error" step="any" required>
        </label>
    
        <div for="max_iter" class="fw-bold">
            Máximo de iteraciones:
            <input class="border border-info-subtle"  type="number" name="max_iter" id="max_iter" required>
        </div>
        
        <div for="decimals" class="fw-bold">
            Decimales:
            <input  class="border border-info-subtle" type="number" name="decimals" id="decimals" required>
        </div>

        <div class="row justify-content-center align-items-center">
            <input class="btn btn-block mt-3 " type="submit" value="Calcular" style="max-width: 300px;">
        </div>

    </form>

    <!-- RESULTADO -->
    {% if result %}
    <hr>
    <div class="text-center">
        <div class="d-flex">
            <img src="{% static 'imgs/respuesta.png' %}"  style="height: 25px;"/>
            <h4 class="ps-1 text-start text-info">Respuesta: </h4>
        </div>
        <p class="ps-5 text-start fw-bold fst-italic">La raíz aproximada de la función f(x) es: {{ result }}</p>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if image_png %}
        <div class="text-center p-0 m-0">
            <img src="data:image/png;base64,{{ image_png }}" alt="Gráfica de la función" style="height: 400px; width: 450px;">
        </div>
        {% endif %}
    {% endif %}

    <!-- RESULTADO CON ERROR-->
    {% if error %}
    <hr>
    <div class="text-center">
        <div class="d-flex">
            <img src="{% static 'imgs/respuesta.png' %}"  style="height: 25px;"/>
            <h4 class="ps-1 text-start text-info">Respuesta: </h4>
        </div>
        <p class="ps-5 text-start fw-bold fst-italic">{{ error }}</p>
    </div>
    {% endif %}

    
    {% if gx %}
    <!-- PASOS -->
    <hr>
    <div class="text-center">
        <div class="d-flex">
            <img src="{% static 'imgs/pasos.png' %}"  style="height: 25px;"/>
            <h4 class="text-start text-info">Pasos: </h4>
        </div>
    </div>

    <!-- ANTES DE ITERAR -->
    <p class="ps-4 text-start">1. Simplificando g(x):  </p>
    <p>$$ {{ gx }} $$</p>
        {% if convergence and df %}
            <p class="ps-4 text-start">2. Calculando la derivada de g(x): </p>
            <p>$$ {{ gx_derivada }} $$</p>
            <p class="ps-4 text-start">3. Sustituyendo el valor de \({X_{0}} = {{ x0 }} \) en la función para obtener el valor de convergencia: {{ result_convergence }}. El resultado está entre 0 y 1, significa que sí converge, por lo tanto podemos iniciar con las iteraciones.</p>
        {% elif not convergence and df  %}
            <p class="ps-4 text-start">2. Puesto que no deseas verificar la convergencia, podemos empezar a iterar para encontrar el valor aproximado de la raíz.</p>
        {% else %}
            <p class="ps-4 text-start">2. Ahora calculamos la derivada de g(x), dando el siguiente resultado: </p>
            <p>$$ {{ gx_derivada }} $$</p>
            <p class="ps-4 text-start">3. Sustituimos el valor de \({X_{0}} = {{ x0 }} \) en la función para obtener el valor de convergencia, el cual es: {{ result_convergence }}</p>
        {% endif %}
    {% endif %}
    
    <!-- ITERACIONES -->
    {% if df %}
        {% if user.is_authenticated %}
            {% for row in df %}
                {% if not forloop.last %}
                    <div class="row justify-content-center align-items-center">     <!-- Linea -->
                        <hr class="text-info" style="width: 600px;">
                    </div>
                    <div class="d-flex justify-content-around">
                        <h5 class="text-start fw-bold fst-italic">Iteración #{{ forloop.counter }}</h5>
                        <p class="text-start">\({i} = {{ forloop.counter0 }} \)</p>
                        <p class="text-start">\({X_{i}} = {X_{ {{ forloop.counter0 }} }} = {{ row.X }} \)</p>
                    </div>
                    <div class="row justify-content-center align-items-center">     <!-- Linea -->
                        <hr class="text-info" style="width: 600px;">
                    </div>
                    <div class="d-flex"> 
                        <p class="text-start ps-5">‣ Calculando el valor de \({X_{i+1}}\), con la siguiente expresión, donde \({X} = {{ row.X }} \) : </p>
                    </div>
                    <p>$$ {{ gx }} $$</p>
    
                    {% if not forloop.last %}
                        <p class="text-start ps-5">‣ Dando como resultado para \({X_{i+1}} = {X_{ {{ forloop.counter0 }} +1}} \) el valor de: {{ row.Next_X }}.</p>
                        <p class="text-start ps-5">‣ Ahora calculamos el error relativo porcentual con la siguiente expresión, sustituyendo los valores correspondientes:</h4>
                        <p>\( \varepsilon_a = \left| \frac{X_{i+1} - X_i}{X_{i+1}} \right| 100\% \)</p>
                        <p class="text-start ps-5">‣ Tomando en cuenta que: \({X_{i+1}}\) = {{ row.Next_X }} y \({X_{i}}\) = {{ row.X }}. Sustituyendo queda de la siguiente manera:</p>
                        <p>\( \varepsilon_a = \left| \frac{ {{ row.Next_X }} - {{ row.X }} }{ {{ row.Next_X }} } \right| 100\% \)</p>
                        <p class="text-start ps-5">‣ Dando como resultado para \(\varepsilon_a = {{ row.Error }} \)%</p>
                    {% else %}
                        <p class="text-start ps-5">‣ No hay un siguiente valor para calcular.</p>
                    {% endif %}
                {% else %}
                <div class="row justify-content-center align-items-center">     <!-- Linea -->
                    <hr class="text-info" style="width: 600px;">
                </div>
                <p class="ps-5 text-start fw-bold fst-italic">Por lo tanto, la raíz aproximada de la función f(x) es: {{ result }}</p>
                <div class="row justify-content-center align-items-center">     <!-- Linea -->
                    <hr class="text-info" style="width: 600px;">
                </div>
                {% endif %}
                
            {% endfor %}
        {% else %}
        <!-- ITERACIONES NO INICIO SESIÓN -->
        <div class="row justify-content-center align-items-center">     <!-- Linea -->
            <hr class="text-info" style="width: 600px;">
        </div>
        <p class="text-start ps-5">‣ Resultados de las iteraciones: </p>
        <div class="ps-5 pe-5 ms-5 me-5">
            <table class="table table-bordered border-info">
                <thead>
                    <tr class="table-info">
                        <th class="col">Iteración</th>
                        <th class="col">X</th>
                        <th class="col">Error</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for row in df %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.X }}</td>
                        <td>{{ row.Error }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            {% if result %}
            <div class="row justify-content-center align-items-center">     <!-- Linea -->
                <hr class="text-info" style="width: 600px;">
            </div>
            <p class="ps-5 text-start fw-bold fst-italic">Por lo tanto, la raíz aproximada de la función f(x) es: {{ result }}</p>
            <div class="row justify-content-center align-items-center">     <!-- Linea -->
                <hr class="text-info" style="width: 600px;">
            </div>


            <div class="row justify-content-center align-items-center">
                ¿Quieres ver los pasos completos y la gráfica? Solo debes 
                <a class="text-decoration-underline" href="{% url 'login' %}"> Iniciar sesión</a>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}


</section>
{% endblock %}