{% extends 'calcular.html' %}

{% block title %}Punto Fijo{% endblock %}

{% block calcular %}
<h1>Iteración Simple de Punto Fijo</h1>
{{ message }}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam soluta possimus aliquid nemo sint reiciendis exercitationem beatae corporis sit, repellat quaerat ab eos amet modi, perferendis alias nobis sed sequi. Amet incidunt corporis possimus expedita sed at ab, neque eos ullam earum culpa! Nam odio ea voluptates enim accusamus incidunt pariatur nobis qui, est voluptate aut, distinctio ipsam amet porro totam libero voluptatibus autem beatae doloremque vel fuga asperiores. Et vel maxime pariatur aut, dolores provident eum ipsam error quisquam fugiat? Dolorem provident delectus libero, illum cupiditate iure reiciendis laudantium veniam illo sapiente numquam quam possimus, eaque minima natus culpa!</p>
<section>
    <form action="{% url 'punto_fijo' %}" class="punto_fijo" method="POST">
        {% csrf_token %}
        <label for="fx">
            Función f(x):
            <input type="text" name="fx" id="fx" required>
        </label>
        
        <label for="gx">
            Función g(x):
            <input type="text" name="gx" id="gx" required>
        </label>
        
        <label for="verify_convergence">
            Verificar convergencia:
            <input type="checkbox" name="verify_convergence" id="verify_convergence">
        </label>
    
        <label for="x0">
            Valor Inicial de X:
            <input type="number" name="x0" id="x0" step="any" required>
        </label>
        
        <label for="error">
            Error (%):
            <input type="number" name="error" id="error" step="any" required>
        </label>
    
        <label for="max_iter">
            Máximo de iteraciones:
            <input type="number" name="max_iter" id="max_iter" required>
        </label>
        
        <label for="decimals">
            Decimales:
            <input type="number" name="decimals" id="decimals" required>
        </label>
        <input type="submit" value="Calcular">
    </form>
    
    {% if result %}
    <br>
    <br>
    <hr>
    <br>
    <p>La raíz aproximada de la función f(x) es: {{ result }}</p>
    {% endif %}
    <br>
    
    {% if image_png %}
    <img src="data:image/png;base64,{{ image_png }}" alt="Gráfica de la función">
    {% endif %}
    
    {% if gx %}
        <p>Lo primero que haremos es simplificar el g(x), quedando de la siguiente manera: $$ {{ gx }} $$ </p>
        {% if convergence and df %}
            <br>
            <br>
            <p>Ahora calculamos la derivada de g(x), dando el siguiente resultado</p>
            <br>
            <p>$$ {{ gx_derivada }} $$</p>
            <br>
            <p>Y sustituimos el valor de \({X_{0}} = {{ x0 }} \) en la función para obtener el valor de convergencia, el cual es: {{ result_convergence }}</p>
            <p>Dado que el resultado está entre 0 y 1, significa que sí converge, por lo tanto podemos iniciar con las iteraciones.</p>
        {% elif not convergence and df  %}
            <p>Puesto que no deseas verificar la convergencia, podemos empezar a iterar para encontrar el valor aproximado de la raíz.</p>
        {% else %}
            <br>
            <br>
            <p>Ahora calculamos la derivada de g(x), dando el siguiente resultado</p>
            <br>
            <p>$$ {{ gx_derivada }} $$</p>
            <br>
            <p>Y sustituimos el valor de \({X_{0}} = {{ x0 }} \) en la función para obtener el valor de convergencia, el cual es: {{ result_convergence }}</p>
            <p> {{ error }}</p>
        {% endif %}
        <br><br><br>
    {% endif %}
    
    {% if df %}
        {% if user.is_authenticated %}
            {% for row in df %}
                {% if not forloop.last %}
                    <hr>
                    <h3>Iteración #{{ forloop.counter }}, donde \({i} = {{ forloop.counter0 }} \)   y \({X_{i}} = {X_{ {{ forloop.counter0 }} }} = {{ row.X }} \)</h3>
                    <hr>
                    <h4>Calcula el valor de \({X_{i+1}}\), con la siguiente expresión, donde \({X} = {{ row.X }} \).</h4>
                    $$ {{ gx }} $$
    
                    {% if not forloop.last %}
                        <p>Dando como resultado para \({X_{i+1}} = {X_{ {{ forloop.counter0 }} +1}} \) el valor de: {{ row.Next_X }}.</p>
                        <br>
                        <h4>Ahora calculamos el error relativo porcentual con la siguiente expresión, sustituyendo los valores correspondientes:</h4>
                        <br>
                        \( \varepsilon_a = \left| \frac{X_{i+1} - X_i}{X_{i+1}} \right| 100\% \)
                        <br>
                        <br>
                        <p>Tomando en cuenta que: \({X_{i+1}}\) = {{ row.Next_X }} y \({X_{i}}\) = {{ row.X }}. Sustituyendo queda de la siguiente manera:</p>
                        <br>
                        \( \varepsilon_a = \left| \frac{ {{ row.Next_X }} - {{ row.X }} }{ {{ row.Next_X }} } \right| 100\% \)
                        <br>
                        <br>
                        <p>Dando como resultado para \(\varepsilon_a = {{ row.Error }} \)%</p>
                    {% else %}
                        <p>No hay un siguiente valor para calcular.</p>
                    {% endif %}
                    <br>
                    <br>
                {% else %}
                    <hr>
                    <h2>Por lo tanto el valor de la raíz aproximada es de: {{ row.X }} con un error de {{ row.Error }} % </h2>
                {% endif %}
                
            {% endfor %}
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Iteración</th>
                        <th>X</th>
                        <th>Error</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in df %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.X }}</td>
                        <td>{{ row.Error }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if result %}
                <p>Por lo tanto, la raíz aproximada de la función f(x) es: {{ result }}</p>
            {% endif %}
        {% endif %}
        
    {% endif %}
</section>
{% endblock %}