{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<h1>Actualizar información</h1>
<div class="wrapper bg-white">
    <!-- LOGO -->
    <img class="text-center" src="../static/imgs/1.png" alt="" style="height: 70px;">
    <p class="text-muted pt-1">{{ error }}</p>
    <!-- FORMULARIO -->
    <form action="{% url 'edit_profile' %}" method="POST">
        {% csrf_token %}

        <!-- Usuario -->
        <div class="form-group pb-3">
            <div class="input-field ">
                <img class="p-2" src="../static/imgs/usuario.png" alt="" style="height: 40px;">
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
        </div>

        <!-- Contraseña -->
        <div class="form-group pb-3">
            <div class="input-field">
                <img class="p-2" src="../static/imgs/candado.png" alt="" style="height: 40px;">
                <input type="password" name="password" placeholder="Antigua contraseña" required>
            </div>
        </div>

        <div class="form-group pb-3">
            <div class="input-field">
                <img class="p-2" src="../static/imgs/candado.png" alt="" style="height: 40px;">
                <input type="password" name="password1" placeholder="Nueva contraseña" required>
            </div>
        </div>

        <!-- Confirmar contraseña -->
        <div class="form-group pb-2">
            <div class="input-field">
                <img class="p-2" src="../static/imgs/candado.png" alt="" style="height: 40px;">
                <input  type="password" name="password2" placeholder="Confirma tu nueva contraseña" required>
            </div>
        </div>

        <!-- Boton y link -->
        <input class="btn btn-block text-center my-3" type="submit" name="signup" value="Guardar">
    </form>
</div>
{% endblock %}