{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}


{% block content %}

<div class="wrapper bg-white">
    <img class="text-center" src="../static/imgs/1.png" alt="" style="height: 70px;">
    <p class="text-muted pt-1">{{ error }}</p>
    <form class="form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group pb-3">
            <div class="input-field ">
                <img class="p-2" src="../static/imgs/usuario.png" alt="" style="height: 40px;">
                <input type="text" name="username" placeholder="Usuario" required>
            </div>
        </div>
        <div class="form-group pb-2">
            <div class="input-field">
                <img class="p-2" src="../static/imgs/candado.png" alt="" style="height: 40px;">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="remember"> <label class="option text-muted"> Recuerdame <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div>
            <div class="ml-auto"> <a href="#" id="forgot">¿Olvidaste tu contraseña?</a> </div>
        </div>

        <input class="btn btn-block text-center my-3" type="submit" name="signin" id="signin" value="Acceder">
        <div class="text-center pt-3 text-muted">¿Aún no tienes cuenta? <a href="{% url 'signup' %}">Crear cuenta</a></div>
    </form>
    
</div>


{% endblock %}


