<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul> 
            {% if user.is_authenticated %}
                <li><a href="">Perfil</a></li>
            {% else %}
                <li><a href="">Acceder</a></li>
            {% endif %}
            <li><a href="/">Inicio</a></li>
            <li><a href="{% url 'punto_fijo' %}">Punto Fijo</a></li>
            <li><a href="">Richardson</a></li>
            {% if user.is_authenticated %}
                <li><a href="">Historial</a></li>
            {% endif %}
            <li><a href="">Documentación</a></li>
            <li><a href="">Repositorio</a></li>
            {% if user.is_authenticated %}
                <li><a href="">Salir</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>