{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}

<section class="largo">
      <!--Primera Carta-->

        <div class="row">
          <div class="col-lg-3 d-flex align-items-stretch">
            <div class="card p-3 pt-4">
                <a href="#"  class="btn-calcu mb-3 d-flex">
                  <img src="{% static 'imgs/calcu2.png' %}"  style="height: 25px;"/>
                  <input  class="bg-white btn-calcu ps-2" type="submit" value="Calculadora">
                </a>
                <a href="{% url 'punto_fijo' %}"  class="btn btn-block mb-3"><input  class="bg-block" type="submit" value="Método del punto fijo"></a>
                <a href="{% url 'extrapolacion_richardson' %}"  class="btn btn-block mb-3"><input  class="bg-block" type="submit" value="Extrapolación de Richardson"></a>
            </div>
          </div>
      
          <!--Segunda Carta-->
          <div class="col-lg-9  d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                {% block calcular %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      





</section>






{% endblock %}
